$rec-dark-pri-color: #689F38;
$rec-light-pri-color: #DCEDC8;
$rec-pri-color: #8BC34A;
$rec-accent-color: #00BCD4;

$listen-dark-pri-color: #0097A7;
$listen-light-pri-color: #B2EBF2;
$listen-pri-color: #00BCD4;
$listen-accent-color: #8BC34A;


$text-icons: #212121;
$pri-text: #212121;
$sec-text: #757575;
$divider-color: #BDBDBD;

// == GENERIC STYLING ===

html, button{
    font-family: 'Varela Round', sans-serif;
}

.shadow {
    -moz-box-shadow:     6px 6px 10px #0000007e;
    -webkit-box-shadow:  6px 6px 10px #0000007e;
    box-shadow:          6px 6px 10px #0000007e;
}

// Style the checkbox options 
.option-div{

    /* when not active hide labels that arn't checked*/
    label{
        color:$sec-text;
    }

    input[type="checkbox"]:checked+label{
        color:$pri-text;
    }
}

.option-div.active{
    /* show the labels when the container is active*/
    label{
        display:block;
    }
}

// style the list of clips
.clip-list{

    overflow:scroll;

    .audio-clip{
        background-color:white;
        padding:1em;
        border-top-left-radius: 40px 50%;
        border-top-right-radius: 40px 50%;
        border-bottom-left-radius: 40px 50%;
        border-bottom-right-radius: 40px 50%;

        .clip-info{
            .clip-class-lesson{
                color:$pri-text;
            }

            .clip-students, .clip-name{
                color:$sec-text;
            }
        }


        .clip-play-button{
            background-color: $listen-accent-color;
            border-radius:100%;
            border:10px solid $sec-text;
        }
    }
}


// ==== SPECIFIC ELEMENT STYLING ====


// update dialog

.update-dialog{
    color:white;
    background-color:#000000da;
}

// style the nav bar

nav{

    .tab-label{
        list-style:none;   
    }
    .record{
        background-color:$rec-pri-color;
    }

    .listen{
        background-color:$listen-pri-color;
    }
    .item-create{
        background-color:#F99600;
    }
    
}

// style the record body

.tab-body.record{
  background-color:$rec-pri-color;

  .button-record{
      border: 10px solid $rec-dark-pri-color;
      background-color: white;
      border-radius:100%;
  }
  .button-record.recording{
      background-color:$rec-accent-color;
  }

  .student-select{
    background-color:white;

    .title{
        color:$sec-text;
        font-weight: normal;
    }

    .sselect-page{
        /* hide the unchecked labels */
        label{
            color:$sec-text;
        };
        /* show the checked labels */
        input[type="checkbox"]:checked+label{
            color:$pri-text;
        }  
    }
    
  }
  
}

// style the playback body

.tab-body.playback{
    background-color:$listen-pri-color;

    .clip-filter{
        background-color:white;
        
        .clip-filter-button{
            background-color:$rec-pri-color;
            color:$pri-text;
            text-align:center;
            border:none;
        }
    
        .option-div{
            h2{
                color:$listen-pri-color;
                font-weight:normal;
            }
        }
    }

}


// style the item create body

.tab-body.item-create{
    background-color:#F99600;

    
}


